<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Epsilon 7.0</title>
    
<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" type="text/css" href="../styles/skin.css">
<link rel="stylesheet" type="text/css" href="../styles/framework.css">
<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">
<link rel="stylesheet" href="styles/wfmi-style.css">


    
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>
</head>

<body>
<div id="page-transitions">
	
	
	<div class="header header-logo-left header-dark " align="center">
		<h3 class="botonInicial"><i class="medical-icon-i-administration"></i> 
			<a href="tratamiento.html" class="icon icon-round frapBtn-bg btnSig"><i class="ion-forward"></i>
			<a href="evaluacion_secundaria.html" class="icon icon-round frapBtn-bg btnAt"><i class="ion-reply"></i>
		
			</a><strong class="color-white">CLÍNICO</strong></h3>

		
		

	</div>	
	
	<div class="share-socials-bottom">
				<a href="#" class="bottom-icon-right badge-share show-share-bottom  ">
					<i class="ion-ios-keypad colorFrap"></i>
				</a>
				<a href="home_02.html" class="bottom-icon-left ">
					<i class="ion-home colorFrap"></i>
				</a>
		
	</div>	
	
	<div id="page-content" >		
				
			
			<div class="content full-bottom half-top">
					
					<br>
					<br>
					<br>
					<h4 class="botonInicial">Origen Problable: *</h4>										
					<form action="" method="post" class="contactForm" id="contactForm">
						<br>
						
							<div class="one-half">
								<div class="checkboxes-demo">
									<div class="fac fac-radio fac-red "><span></span>
										<input id="box1-fac-radio" type="radio" name="rad1" value="1">
										<label for="box1-fac-radio">Neurológica</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box2-fac-radio" type="radio" name="rad1" value="1">
										<label for="box2-fac-radio">Cardiovascular</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box3-fac-radio" type="radio" name="rad1" value="1">
										<label for="box3-fac-radio">Respiratorio</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box4-fac-radio" type="radio" name="rad1" value="1">
										<label for="box4-fac-radio">MEtabólico</label>
									</div>
									<div class="fac fac-radio fac-red "><span></span>
										<input id="box5-fac-radio" type="radio" name="rad1" value="1">
										<label for="box5-fac-radio">Digestiva</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box6-fac-radio" type="radio" name="rad1" value="1">
										<label for="box6-fac-radio">Urogenital</label>
									</div>
								</div>  
							</div>
							<div class="one-half last-column">
								<div class="checkboxes-demo">
									<div class="fac fac-radio fac-red "><span></span>
										<input id="box7-fac-radio" type="radio" name="rad1" value="1">
										<label for="box7-fac-radio">Gineco-obtétrica</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box8-fac-radio" type="radio" name="rad1" value="1">
										<label for="box8-fac-radio">Psiquiátrico</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box9-fac-radio" type="radio" name="rad1" value="1">
										<label for="box9-fac-radio">Musculo-esquelético</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box10-fac-radio" type="radio" name="rad1" value="1">
										<label for="box10-fac-radio">Infecciosa</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box11-fac-radio" type="radio" name="rad1" value="1">
										<label for="box11-fac-radio">Oncológica</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box12-fac-radio" type="radio" name="rad1" value="1">
										<label for="box12-fac-radio">Otorrino</label>
									</div>
								</div>
							</div>
							<h4>Diagnóstico sindromático:</h4>
							<input type="text" class="input-text-box input-red-border">
							<div class="clear"></div>
							<div class="decoration"></div>
					
						<h5 class="botonInicial" align="center">Observaciones</h5>
						<input type="text" class="input-text-box input-red-border">
							
						</div>     
						   
					</form>   	
			</div>
			 
	</div>
	<div class="share-bottom share-light">
		
		<h3>Opcionales</h3>
		<div class="share-socials-bottom">
			<a href="signos_vitales.html">
				<i class="ion-clipboard facebook-bg"></i>
				Signos
			</a>
			<a href="med_administrados.html">
				<i class="ion-clipboard twitter-bg"></i>
				Medicamentos
			</a>
			
			
			<div class="clear"></div>
		</div>
		
	</div>
</div>
</body>