<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Epsilon 7.0</title>
    
<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" type="text/css" href="../styles/skin.css">
<link rel="stylesheet" type="text/css" href="../styles/framework.css">
<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">
<link rel="stylesheet" href="../styles/wfmi-style.css">


    
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>
</head>

<body>
<div id="page-transitions">
	
	
	<div class="header header-logo-left header-dark " align="center">
		<h3 class="botonInicial"><i class="medical-icon-i-administration"></i> 
			<a href="otros.html" class="icon icon-round frapBtn-bg btnSig"><i class="ion-forward"></i>
			<a href="tratamiento.html" class="icon icon-round frapBtn-bg btnAt"><i class="ion-reply"></i>
		
			</a><strong class="color-white">CONSENTIMIENTO INFORMADO</strong></h3>

		
		

	</div>	
	
	<div class="share-socials-bottom">
				<a href="#" class="bottom-icon-right badge-share show-share-bottom  ">
					<i class="ion-ios-keypad colorFrap"></i>
				</a>
				<a href="home_02.html" class="bottom-icon-left ">
					<i class="ion-home colorFrap"></i>
				</a>
		
	</div>	
	
	<div id="page-content" >		
				
			
			<div class="content full-bottom half-top">
					
					<br>
					<br>
					<p>
						Declaro haber recibido oportunamente información completa y adecuada sobre mi cuadro clínico y los prcedimientos diagnósticos
						y/o terapéuticos que se me realizarán, los riesgos que estos pueden representar y las alternativas disponibles. Así mismo
						, declaro haber comprendido la información prporcionada y que he tenido la oportunidad de formulae mis preguntas y dudas,
						las que han sido contestadas y aclaradas a mi entera satisfacción. Por lo anteriormente expuesto, declaro mi consentimiento para ser sometido al tratamiento y a las
						acciones que el equipo paramédico considere necesarias. En caso de surgir situaciones no esperadas o complicaciones, es expresado en forma libre e informada.
					</p>
					
					<br>
					
					<div class="one-half">
						<h5 class="botonInicial" align="center" >Nombre Paciente: *</h5>
						<input type="text" class="input-text-box input-red-border">
						<a href="firma.html" class="button button-round button-red button-full half-top full-bottom animate-zoom"><h4>Firmar</h4></a>

					</div>
					
					<div class="one-half last-column">
						<h5 class="botonInicial" align="center" >Nombre Testigo: *</h5>
						<input type="text" class="input-text-box input-red-border">
						<a href="firma.html" class="button button-round button-red button-full half-top full-bottom animate-zoom"><h4>Firmar</h4></a>

					</div>				
					
			</div>
			 
	</div>
	<div class="share-bottom share-light">
		<h3>Obligatorios</h3>
		<div class="share-socials-bottom">
			<a href="signos_vitales02.html">
				<i class="ion-ios-keypad facebook-bg"></i>
				Signos 
			</a>
			<a href="med_administrados.html">
				<i class="ion-clipboard twitter-bg"></i>
				Medicamentos 
			</a>
			
			<div class="clear"></div>
		</div>
	</div>
</div>
</body>