<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Epsilon 7.0</title>
    
<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" type="text/css" href="../styles/skin.css">
<link rel="stylesheet" type="text/css" href="../styles/framework.css">
<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">
<link rel="stylesheet" href="../styles/wfmi-style.css">


    
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>
</head>

<body>
<div id="page-transitions">
	
	
	<div class="header header-logo-left header-dark " align="center">
		<h3 class="botonInicial"><i class="medical-icon-i-administration"></i> 
			<a href="clinico.html" class="icon icon-round frapBtn-bg btnSig"><i class="ion-forward"></i>
			<a href="evaluacion_primaria.html" class="icon icon-round frapBtn-bg btnAt"><i class="ion-reply"></i>
		
			</a><strong class="color-white">EVALUACIÓN SECUNDARIA</strong></h3>

		
		

	</div>	
	
	<div class="share-socials-bottom">
				<a href="#" class="bottom-icon-right badge-share show-share-bottom  ">
					<i class="ion-ios-keypad colorFrap"></i>
				</a>
				<a href="home_02.html" class="bottom-icon-left ">
					<i class="ion-home colorFrap"></i>
				</a>
		
	</div>	
	
	<div id="page-content" >		
				
			
			<div class="content full-bottom half-top">
					
					<br>
					<br>
					<h5 class="botonInicial" align="center">ESCALA GLASGOW</h5>
										
					<form action="" method="post" class="contactForm" id="contactForm">
						<br>
						
						<div class="one-half">
							<div class="checkboxes-demo">
								<h4 class="botonInicial">Motora: </h4>
								<div class="fac fac-radio fac-red "><span></span>
									<input id="box1-fac-radio" type="radio" name="rad1" value="1">
									<label for="box1-fac-radio">Verde</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box2-fac-radio" type="radio" name="rad1" value="1">
									<label for="box2-fac-radio">Amarilla</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box3-fac-radio" type="radio" name="rad1" value="1">
									<label for="box3-fac-radio">Roja</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box4-fac-radio" type="radio" name="rad1" value="1">
									<label for="box4-fac-radio">Negra</label>
								</div>
								
							</div>  
						</div>
						<div class="one-half last-column">
							<div class="checkboxes-demo">
								<h4 class="botonInicial">Verbal: </h4>
								<div class="fac fac-radio fac-red "><span></span>
									<input id="box5-fac-radio" type="radio" name="rad2" value="1">
									<label for="box5-fac-radio">Alerta</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box6-fac-radio" type="radio" name="rad2" value="1">
									<label for="box6-fac-radio">Verbal</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box7-fac-radio" type="radio" name="rad2" value="1">
									<label for="box7-fac-radio">Doloroso</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box8-fac-radio" type="radio" name="rad2" value="1">
									<label for="box8-fac-radio">Inconnsciente</label>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>        
					
					<div class="content no-bottom">
						<div class="one-half">
							<div class="checkboxes-demo">
								<h4 class="botonInicial">Ocular: </h4>
								<div class="fac fac-radio fac-red "><span></span>
									<input id="box9-fac-radio" type="radio" name="rad3" value="1">
									<label for="box9-fac-radio">Permeable</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box10-fac-radio" type="radio" name="rad3" value="1">
									<label for="box10-fac-radio">Comprometida</label>
								</div>
								
							</div>  
						</div>
						<div class="one-half last-column">
							<div class="checkboxes-demo">
								<h4 class="botonInicial">Signos Neurológicos: </h4>
								<div class="fac fac-radio fac-red "><span></span>
									<input id="box11-fac-radio" type="radio" name="rad4" value="1">
									<label for="box11-fac-radio">Normal</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box12-fac-radio" type="radio" name="rad4" value="1">
									<label for="box12-fac-radio">Bradipnea</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box13-fac-radio" type="radio" name="rad4" value="1">
									<label for="box13-fac-radio">Taquipnea</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box14-fac-radio" type="radio" name="rad4" value="1">
									<label for="box14-fac-radio">Apnea</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box15-fac-radio" type="radio" name="rad4" value="1">
									<label for="box15-fac-radio">No aplica</label>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						
						
						<div class="decoration"></div>
						<h5 class="botonInicial" align="center">Pupilas</h5>
						
						<div class="one-half" >
							<div class="checkboxes-demo">
								<h4>Derecha</h4>
								<div class="fac fac-radio fac-red "><span></span>
									<input id="box16-fac-radio" type="radio" name="rad5" value="1">
									<label for="box16-fac-radio">Normal</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box17-fac-radio" type="radio" name="rad5" value="1">
									<label for="box17-fac-radio">Midriasis</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box18-fac-radio" type="radio" name="rad5" value="1">
									<label for="box18-fac-radio">Miosis</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box19-fac-radio" type="radio" name="rad5" value="1">
									<label for="box19-fac-radio">Reactivas</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box20-fac-radio" type="radio" name="rad5" value="1">
									<label for="box20-fac-radio">No Reactivas</label>
								</div>
							</div>
						</div>
						
						<div class="one-half last-column" >
							<div class="checkboxes-demo">
								<h4>Izquierda</h4>
								<div class="fac fac-radio fac-red "><span></span>
									<input id="box21-fac-radio" type="radio" name="rad6" value="1">
									<label for="box21-fac-radio">Normal</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box22-fac-radio" type="radio" name="rad6" value="1">
									<label for="box22-fac-radio">Midriasis</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box23-fac-radio" type="radio" name="rad6" value="1">
									<label for="box23-fac-radio">Miosis</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box24-fac-radio" type="radio" name="rad6" value="1">
									<label for="box24-fac-radio">Reactivas</label>
								</div>
								<div class="fac fac-radio fac-red"><span></span>
									<input id="box25-fac-radio" type="radio" name="rad6" value="1">
									<label for="box25-fac-radio">No Reactivas</label>
								</div>
							</div>
						</div>
						
						<div class="decoration"></div>
						<h5 class="botonInicial" align="center">Circulatorio</h5>
						
						<div class="one-half">
							<h5 class="botonInicial" align="center">Ritmo / EKG</h5>
								<div class="checkboxes-demo">
									<div class="fac fac-radio fac-red "><span></span>
										<input id="box26-fac-radio" type="radio" name="rad7" value="1">
										<label for="box26-fac-radio">Rítmico</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box27-fac-radio" type="radio" name="rad7" value="1">
										<label for="box27-fac-radio">Arrítmico</label>
									</div>
								</div>	
						</div>
						
						<div class="one-half last-column">
						
							<h5 class="botonInicial" align="center">Derivaciones:</h5>
								<div class="checkboxes-demo">
									<div class="fac fac-radio fac-red "><span></span>
										<input id="box28-fac-radio" type="radio" name="rad8" value="1">
										<label for="box28-fac-radio">No aplica</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box29-fac-radio" type="radio" name="rad8" value="1">
										<label for="box29-fac-radio">3</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box30-fac-radio" type="radio" name="rad8" value="1">
										<label for="box30-fac-radio">12</label>
									</div>
								</div>	
							
						</div>     
						<textarea name="contactMessageTextarea" class="contactTextarea input-red-border" placeholder="Diagnostico electrográfico"></textarea>
						
						<div class="decoration"></div>
						
						<h5 class="botonInicial" align="center">Metabólico / Digestivo</h5>
								<div class="checkboxes-demo">
									<h4>Peristaisis</h4>
									<div class="fac fac-radio fac-red "><span></span>
										<input id="box31-fac-radio" type="radio" name="rad9" value="1">
										<label for="box31-fac-radio">Presente</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box32-fac-radio" type="radio" name="rad9" value="1">
										<label for="box32-fac-radio">Ausente</label>
									</div>
								</div>	
						<div class="decoration"></div>
						<h5 class="botonInicial" align="center">HALLAZGOS FÍSICOS</h5>
						<img src="images/imgBody.gif" width="441">
						<div class="decoration"></div>
						<h5 class="botonInicial" align="center">SEMIOLOGÍA DEL DOLOR</h5>
								<h5 class="botonInicial">Aparición:</h5>
								<div class="checkboxes-demo">
									<h4>Peristaisis</h4>
									<div class="fac fac-radio fac-red "><span></span>
										<input id="box33-fac-radio" type="radio" name="rad10" value="1">
										<label for="box33-fac-radio">No aplica</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box34-fac-radio" type="radio" name="rad10" value="1">
										<label for="box34-fac-radio">Crónico</label>
									</div>
									<div class="fac fac-radio fac-red"><span></span>
										<input id="box35-fac-radio" type="radio" name="rad10" value="1">
										<label for="box35-fac-radio">Agudo</label>
									</div>
								</div>	
								
								
						<div class="decoration"></div>
						<div>
							<h5 class="botonInicial" align="center" > SAMPLER</h5>
						
							<h5 class="botonInicial" >Síntomas :</h5>
								<input type="text" class="input-text-box input-red-border" >
								<h5 class="botonInicial" >Alergias : </h5>
								<input type="text" class="input-text-box input-red-border">
								<h5 class="botonInicial" >Medicamentos :</h5>
								<input type="text" class="input-text-box input-red-border">
								<h5 class="botonInicial" >Padecimientos : </h5>
								<input type="text" class="input-text-box input-red-border">
								<h5 class="botonInicial" >Última cimida : </h5>
								<input type="text" class="input-text-box input-red-border">
								<h5 class="botonInicial" >Eventos relacionados : </h5>
								<input type="text" class="input-text-box input-red-border">							
						</div>
						<div class="decoration"></div>
						<div>
							<h5 class="botonInicial" align="center" >FACTORES DE RIESGO</h5>
							
								<div class="one-half">
									<div class="checkboxes-demo">
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box1-fac-checkbox-o " type="checkbox" value="1" unchecked="">
											<label for="box1-fac-checkbox-o ">HAS</label>
										</div>
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box2-fac-checkbox-o" type="checkbox" value="1" unchecked="">
											<label for="box2-fac-checkbox-o">Dislipidemias</label>
										</div>
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box3-fac-checkbox-o" type="checkbox" value="1" unchecked="">
											<label for="box3-fac-checkbox-o">Diabetes Mellitus</label>
										</div>
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box5-fac-checkbox-o" type="checkbox" value="1" unchecked="">
											<label for="box5-fac-checkbox-o">Obesidad</label>
										</div>
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box6-fac-checkbox-o" type="checkbox" value="1" unchecked="">
											<label for="box6-fac-checkbox-o">Tabaquismo</label>
										</div>
									</div>
								</div>
								<div class="one-half last-column">
									<div class="checkboxes-demo">
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box7-fac-checkbox-o " type="checkbox" value="2" unchecked="">
											<label for="box7-fac-checkbox-o ">Sedentarismo</label>
										</div>
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box8-fac-checkbox-o" type="checkbox" value="2" unchecked="">
											<label for="box8-fac-checkbox-o">Herencia</label>
										</div>
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box9-fac-checkbox-o" type="checkbox" value="2" unchecked="">
											<label for="box9-fac-checkbox-o">Estrés</label>
										</div>
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box10-fac-checkbox-o" type="checkbox" value="2" unchecked="">
											<label for="box10-fac-checkbox-o">Alcoholismo</label>
										</div>
										<div class="fac fac-checkbox-o fac-red"><span></span>
											<input id="box11-fac-checkbox-o" type="checkbox" value="2" unchecked="">
											<label for="box11-fac-checkbox-o">Edad</label>
										</div>
									</div>
								</div>
							</div>
						</div>
		
						
						
						
					</form>   	
			</div>
			 
	</div>
	<div class="share-bottom share-light">
		
		<h3>Opcionales</h3>
		<div class="share-socials-bottom">
			<a href="signos_vitales02.html">
				<i class="ion-clipboard facebook-bg"></i>
				Signos
			</a>
			<a href="med_administrados.html">
				<i class="ion-clipboard twitter-bg"></i>
				Medicamentos
			</a>
			
			
			<div class="clear"></div>
		</div>
		
	</div>
</div>
</body>