<!DOCTYPE html>
<html>
<head>
    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <!-- Include jQuery Mobile stylesheets -->
    <!-- Include the jQuery library -->
    <!-- Include the jQuery Mobile library -->

    <link rel="stylesheet" type="text/css" href="dialogos/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="dialogos/jquery-ui.theme.css">


    <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" type="text/css" href="css/style_forms.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mobile.structure-1.4.5.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile-1.4.5.js"></script>

    <script type="text/javascript" src="../scripts/jStorage.js"></script>
    <script type="text/javascript" src="../js/jquery.blockUI.js"></script>

    <script src="dialogos/jquery-ui.js"></script>


    <script type="text/javascript" src="../model/dataBaseApp.js"></script>
    <script type="text/javascript" src="../objects/frap_object.js"></script>
    <script type="text/javascript" src="../controller/frap_data.js"></script>

    <script type="text/javascript" src="../controller/frap.js"></script>

    <script>

	</script>

    <style>

		.ui-dialog-titlebar {
		  display: none;
		}


		.ui-dialog .ui-dialog-content {
			border: 0 none;
		}

		.ui-widget-overlay.custom-overlay
		{
			background-color: black;
			background-image: none;
			opacity: 0.7;
			z-index: 1040;
		}


		.dlg-no-close {

			text-align: center;
			border: 0 none;
		}

		.dlg-no-close .ui-dialog-titlebar-close {
			display: none;
		}

	</style>

</head>
<body>


<div style="background-color:WhiteSmoke; display: none; height: 390px; padding-bottom: -5px;"  id="msgOk" >
    <div id="msgOkContent" style="background-color:WhiteSmoke; border-bottom: 1px solid; border-bottom-color: gray;">
        <div  style="width: 90px; margin: 0 auto;">
            <img onclick="msgBoxClose();" src="../images/bien.png" width=90 >
        </div>
        <p id="msgOkText" style="text-align: center;">Se envió el FRAP copn éxito</p>


        <div style="color: white; background-color:WhiteSmoke;  border-bottom: 1px solid; border-bottom-color: gray; height: 30px; padding-bottom: -5px; " onclick="msgBoxClose();">
            <p style="text-align: center; color: green;">Aceptart</p>
        </div>
    </div>
</div>

<div style="background-color:rgba(0, 0, 0, 0.0); display: none; height: 390px; padding-bottom: -5px;"  id="msgError" >
    <div id="msgErrorContent" style="background-color:WhiteSmoke; border-bottom: 1px solid; border-bottom-color: gray; z-index: 3000;">
        <div  style="width: 90px; margin: 0 auto;">
            <img onclick="msgBoxErrorClose();" src="../images/error.png" width=90 >
        </div>
        <p id="msgErrorText" style="text-align: center;"></p>
    </div>

    <div style="color: white; background-color:WhiteSmoke;  border-bottom: 1px solid; border-bottom-color: gray; height: 30px; padding-bottom: -5px; " onclick="msgBoxErrorClose();">
        <p style="text-align: center; color: red;">Regresar</p>
    </div>

</div>




<div style=" display: none; height: 390px; "  id="dialog1" >

    <div style="color: white; background-color:gray;  border-bottom: 1px solid; border-bottom-color: gray; height: 30px; ">
        <p style="text-align: center; color: white;">Elije los datos del FRAP</p>
    </div>

    <div style="background-color:WhiteSmoke; border-bottom: 1px solid; border-bottom-color: gray;">
        <div  style="width: 110px; margin: 0 auto;">
            <img onclick="frap_primarios();" src="iconos/GRISES/Iconos_grises-g.png" width=110 >
        </div>
        <p style="text-align: center;">Datos Obligatorios</p>
    </div>

    <div style="background-color:WhiteSmoke; border-bottom: 1px solid; border-bottom-color: gray;">
        <div  style="width: 110px; margin: 0 auto;">
            <img onclick="frap_secundarios();" src="iconos/GRISES/Iconos_grises-27.png" width=110 >
        </div>
        <p style="text-align: center;">Datos Complementarios</p>
    </div>


</div>


<div style="background-color: black;">
    <!-- <img src="images/icons-menu/Atras_Principal.png" style="width: 5%; padding-top: 10px;"/> -->
    <img onclick="menu_datos();" src="images/icons-menu/Menu_Principal.png" style="width: 5%; padding-top: 10px; padding-left: 10px;"/>
    <img onclick="homeVehicules();" src="images/icons-menu/home1.png" style="width: 5%; float: right; padding-top: 10px; padding-right: 10px; "/>
</div>
<div class="cabecera" style="">


    <!--
    3398DC
    2DCC70
    F2C40F
    E84C3D
    7E8C8D
    E59866


    99c1dc
    adccba
    f2ebce
    e8c8c5
    8d8d8d
    e5d0c3

    -->
    <div class="element-head" style="background: #3398DC; " id="menu-datos-paciente" data-state="q1" onclick="deltaZ('click', 'datos_paciente', 'menu-datos-paciente', $(this).attr('data-state'))">
        <div class="menu-icon">
            <img src="images/icons-menu/Datos_Basicos1.png"/>
        </div>
        <span style="color: white;">Datos del paciente</span>
    </div>
    <div class="element-head" style="background: #2DCC70; " id="menu-evaluacion-primaria" data-state="q1" onclick="deltaZ('click', 'evaluacion_primaria', 'menu-evaluacion-primaria',  $(this).attr('data-state'))">
        <div class="menu-icon">
            <img src="images/icons-menu/Evaluacion_Primaria1.png"/>
        </div>
        <span style="color: white;">Evaluación primaria</span>
    </div>
    <div class="element-head" style="background: #F2C40F;" id="menu-evaluacion-secundaria" data-state="q1" onclick="deltaZ('click', 'evaluacion_secundaria', 'menu-evaluacion-secundaria',  $(this).attr('data-state'))">
        <div class="menu-icon">
            <img src="images/icons-menu/Evaluacion_secundaria1.png"/>
        </div>
        <span style="color: white;">Evaluación secundaria</span>
    </div>
    <div class="element-head" style="background: #E84C3D;" id="menu-tratamiento" data-state="q1" onclick="deltaZ('click', 'tratamiento', 'menu-tratamiento',  $(this).attr('data-state'))">
        <div class="menu-icon">
            <img src="images/icons-menu/Tratamiento1.png"/>
        </div>
        <span style="color: white;">Tratamiento</span>
    </div>
    <div class="element-head" style="background: #7E8C8D; " id="menu-motivo-atencion" data-state="q1" onclick="deltaZ('click', 'motivo_atencion', 'menu-motivo-atencion',  $(this).attr('data-state'))">
        <div class="menu-icon">
            <img src="images/icons-menu/Motivo1.png"/>
        </div>
        <span style="color: white;">Motivo de la atención</span>
    </div>
    <div class="element-head" style="background: #E59866; " id="menu-consentimiento" data-state="q1" onclick="deltaZ('click', 'consentimiento', 'menu-consentimiento',  $(this).attr('data-state'))">
        <div class="menu-icon">
            <img src="iconos/BLANCOS/Iconos_observaciones_b.png"/>
        </div>
        <span style="color: white;">Consentimiento</span>
    </div>

    <div class="element-head" style="background: #A9DFBF; " id="menu-pertenencias" data-state="q1" onclick="deltaZ('click', 'pertenencias', 'menu-pertenencias',  $(this).attr('data-state'))">
        <div class="menu-icon">
            <img src="iconos/BLANCOS/Iconos_observaciones_b.png"/>
        </div>
        <span style="color: white;">Pertenencias y Observaciones</span>
    </div>


    <div class="element-head" style="background: #000000; " id="menu-envio" data-state="q1" onclick="deltaZ('click', 'envio', 'menu-envio',  $(this).attr('data-state'))">
        <div class="menu-icon">
            <div style="height: 11px; width: 100%;"></div>
            <img src="../images/upload.png"/></div>
        <span style="color: white;">Enviar</span>
    </div>

</div>
<div class="cuerpo" id="content-menu">
    <iframe src=""  frameborder="0" seamless="" id="frameDemo"></iframe>
</div>
</body>

<script>

    var iframe;


    function frap_primarios(){
    $.unblockUI();
    location="frap.html";

}
function frap_secundarios(){
    $.unblockUI();
    location="frap_complement.html";

}

function menu_datos(){

    /*
    $.blockUI({
        message: $('#dialog1')
    });
    */

     $("#dialog1").dialog('open');
}

function homeVehicules(){
    location="home_vehicules.html";
}


    /*$('#frameDemo').load(function(){

        var iframe = $('#frameDemo').contents();

        iframe.find("#boton2").click(function(){

            $( "#menu-element-3" ).toggle( "slide" );
            $( "#menu-element-1" ).toggle( "slide", function() {

                $("#menu-element-3").css('display','block');
                $("#menu-element-1").css('display','block');
            });

        });
});*/

    $( document ).ready(function() {





        // Paso 1: Inicializamos variables YA definidad por la carga de los archivos JS

        id_sesion  = $.jStorage.get("id_sesion");
        id_usuario  = $.jStorage.get("id_usuario");
        estado = $.jStorage.get("estado");

        idFRAP = $.jStorage.get("idFRAP");
        idService = $.jStorage.get("idService");

        isNew = $.jStorage.get("isNew");
        estado_frap = $.jStorage.get("estado_frap");
        estado_secciones = $.jStorage.get("estado_secciones"); // MOST IMPORTANT ***





        console.log('valores de diagrama de flujo ');

        console.log('isNew'+isNew);
        console.log('estado_frap'+estado_frap);
        console.log('estado_seccoines'+estado_secciones);


        // Paso 2 : Inicializar el objeto frap, para que sea factible el envio en todo momemnto
        frap.secciones.init();



        // Paso 2.5 : Inicializamos todas las demas variables a defoutl

        dataBase.openDb();


        // Be careful !!!!!
        // cuando cargue fraps OFFline debe cargar el valor de la base detos como defoult
        $.jStorage.set("motivo_atencion", String('trauma'),{});

        var alto = $(window).height();
        var elementMenu = alto/5;
        $('.cabecera').height(elementMenu);
        $('.element-head').height(elementMenu);
        $('.cuerpo').height(alto - elementMenu);
        $('#frameDemo').height(alto - elementMenu);
        $('#frameDemo').css('width','100%');



        // Paso 3: iteramos sobre la variable que tiene el estado de las secciones para cargar lo factible de ser cargado
        $.each(estado_secciones, function (key, value){
            if(value == 1){
                console.log('recuperando'+key);
                frap.recuperacion[key]();
            }

        });









        //$('#frameDemo').css('pointer-events', 'none');

    });

    $('#frameDemo').load(function(){

        iframe = $('#frameDemo').contents();


        // Funciones para pasar informaci´´omn del HTML -> objecto frap  && objeto -> DB
        // ============================================================================================================
        // Termina datos del paciente
        iframe.find("#btnNext1").click(function()
        {
            guardarMediaFiliacion();
            guardarPaciente();
            deltaZ('slide', 'datos_paciente', 'menu-datos-paciente', iframe.find("#btnNext1").attr('data-state'));
        });

        // termina evaluacion primaria
        iframe.find("#btnNext2").click(function()
        {
            guardarEvaluacion_primaria();
           // $('#menu-evaluacion-primaria').css("background", "#2DCC70");
            deltaZ('slide', 'evaluacion_primaria', 'menu-evaluacion-primaria', iframe.find("#btnNext2").attr('data-state'));
        });

        // termina evaluacion secundaria
        iframe.find("#btnNext3").click(function()
        {
            guardarEvaluacion_secundaria();
            deltaZ('slide', 'evaluacion_secundaria', 'menu-evaluacion-secundaria', iframe.find("#btnNext3").attr('data-state'));
        });


        // termina TRATAMIENTO
        iframe.find("#btnNext4").click(function()
        {
            guardar_tratamiento();
            deltaZ('slide', 'tratamiento', 'menu-tratamiento', iframe.find("#btnNext4").attr('data-state'));
        });








        // termina TRAUMA
        iframe.find("#btnNext5").click(function()
        {
            guardar_trauma();
            deltaZ('slide', 'motivo_atencion', 'menu-motivo-atencion', iframe.find("#btnNext5").attr('data-state'));
        });

        // termina CLINICO
        iframe.find("#btnNext6").click(function()
        {
            guardar_clinico();
            deltaZ('slide', 'motivo_atencion', 'menu-motivo-atencion', iframe.find("#btnNext6").attr('data-state'));
        });


        // termina VIAL
        iframe.find("#btnNext7").click(function()
        {
            guardar_vial();
            deltaZ('slide', 'motivo_atencion', 'menu-motivo-atencion', iframe.find("#btnNext7").attr('data-state'));
        });


        // termina GINECOLOGICO
        iframe.find("#btnNext8").click(function()
        {
            guardar_ginecologico();
            deltaZ('slide', 'motivo_atencion', 'menu-motivo-atencion', iframe.find("#btnNext8").attr('data-state'));
        });








        // termina CONSENTIMIENTO
        iframe.find("#btnNext9").click(function()
        {
            guardar_consentimiento();
            guardar_otros();
            deltaZ('slide', 'consentimiento', 'menu-consentimiento', iframe.find("#btnNext9").attr('data-state'));
        });


        // termina RESULTADO

        iframe.find("#btnNext10").click(function()
        {
            guardar_legal();
            guardar_emergencia_resultado();
            deltaZ('slide', 'pertenencias', 'menu-pertenencias', iframe.find("#btnNext10").attr('data-state'));
        });



        // Envio del FRAP

        iframe.find("#btnSend").click(function()
        {
            frap.enviar();
        });







/*
        iframe.find("#boton2").click(function()
        {
            delta('slide', 'evaluacion_primaria', 'menu-evaluacion-primaria', iframe.find("#boton2").attr('data-state'))
        });
        iframe.find("#boton3").click(function()
        {
            delta('slide', 'evaluacion_secundaria', 'menu-evaluacion-secundaria', iframe.find("#boton3").attr('data-state'))
        });
        */
    });


    var menuArray = ["menu-datos-paciente", "menu-evaluacion-primaria", "menu-evaluacion-secundaria", "menu-tratamiento", "menu-motivo-atencion", "menu-consentimiento", "menu-pertenencias", "menu-envio" ];
    var hashNavigation = {datos_paciente:"evaluacion_primaria", evaluacion_primaria:"evaluacion_secundaria", evaluacion_secundaria: "tratamiento", tratamiento: "motivo_atencion", motivo_atencion: "consentimiento", consentimiento: "pertenencias", pertenencias:"envio"  };
    var hashMenu = {'menu-datos-paciente':"menu-evaluacion-primaria", 'menu-evaluacion-primaria': "menu-evaluacion-secundaria", 'menu-evaluacion-secundaria': "menu-tratamiento",'menu-tratamiento': "menu-motivo-atencion",   'menu-motivo-atencion' :"menu-consentimiento", 'menu-consentimiento':"menu-pertenencias", 'menu-pertenencias':"menu-envio" };


    function delta( handle, idPage, idMenu, state ) {
        console.log(state + '-' + handle );
        alert(state + '-' + handle );
        switch( state + '-' + handle ) {
            case 'q1-click':
                $("#"+idMenu).attr('data-state','q2');
                var i = 1;
                menuArray.forEach(function(item, index) {
                    console.log(idMenu+" "+item);
                    if (item != idMenu) {
                        console.log(i+" "+item);
                        if (i == (menuArray.length )  ) {
                            $("#"+item).slideUp("slow", function() {
                                console.log("pagina abrir"+idPage);
                                var iframe = $("#frameDemo").contents();
                                $('#frameDemo').attr('src', "frap_content.html?currentId="+idPage);
                                $('#content-menu').slideDown();
                            });
                        } else {
                            console.log(" pagina else "+idPage);
                            $("#"+item).slideUp("slow");
                        }
                    } else if(item == "menu-tratamiento") {
                            //console.log(" pagina en elseeee"+idPage);
                            $('#content-menu').slideDown();
                    }
                    i++;
                    //console.log(i);
                });
            break;

            case 'q3-click':
            case 'q2-click':
                $('#frameDemo').attr('src', "");
                $("#"+idMenu).attr('data-state','q1');
                $("#content-menu").slideUp("slow", function() {
                    menuArray.forEach(function(item, index) {
                        if (item != idMenu) {
                            $( "#"+item ).slideDown("slow");
                        }
                    });
                });
            break;

            case 'q2-slide':
                var nextPage = hashNavigation[idPage];
                var nextMenu = hashMenu[idMenu];
                var iframe = $('#frameDemo').contents();
                menuArray.forEach( function(item, index) {
                    $("#"+item).attr('data-state','q3');
                });
                console.log(nextPage+" "+nextMenu);
                console.log(idMenu+" "+nextMenu);

                var pageActual = iframe.find("#"+idPage);
                console.log(pageActual.find("[id*=boton]"));

                //$("#"+nextMenu).css('display','none');
                //$("#"+idMenu).css('display','none');

                $("#"+nextMenu).css('display','block');
                $("#"+idMenu ).toggle( "slide", function() {
                    //$("#"+idMenu).css('display','block');

                });
                //$( "#" +nextMenu ).toggle( "slide" );

            break;

            case 'q3-slide':
                var iframe = $('#frameDemo').contents();

                frame.find("#"+nextPage).click( function() {

                });
            break;

        }
    }


</script>

</html>