<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Epsilon 7.0</title>
    
<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" type="text/css" href="../styles/skin.css">
<link rel="stylesheet" type="text/css" href="../styles/framework.css">
<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">
<link rel="stylesheet" href="../styles/wfmi-style.css">


    
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>
</head>

<body>
<div id="page-transitions">
	
	
	<div class="header header-logo-left header-dark " align="center">
		<h3 class="botonInicial"><i class="medical-icon-i-administration"></i> 
			<a href="#" class="icon icon-round frapBtn-bg btnSig"><i class="ion-forward"></i>
			<a href="#" class="icon icon-round frapBtn-bg btnAt"><i class="ion-reply"></i>
		
			</a><strong class="color-white">GINECOLÓGICO</strong></h3>

		
		

	</div>	
	
	<a href="#"><i class="ion-ios-keypad btnFrap swiper-slide badge-share show-share-bottom"></i></a>
	<div class="share-socials-bottom">
				<a href="#" class="bottom-icon-right badge-share show-share-bottom  ">
					<i class="ion-ios-keypad colorFrap"></i>
				</a>
				<a href="http://opowerdev.net/apps/FRAP/www/home.html" class="bottom-icon-left ">
					<i class="ion-home colorFrap"></i>
				</a>
			<a href="#" class="bottom-icon-right badge-share show-share-bottom  "><i class="ion-ios-keypad btnFrap colorFrap"></i></a>
		
	</div>	
	
	<div id="page-content" >		
				
			
			<div class="content full-bottom half-top">
					
					<br>
					<br>
					<h5 class="botonInicial" align="center">DATOS DE LA MADRE</h5>
										
					<form action="" method="post" class="contactForm" id="contactForm">
						<br>
						<div class="one-half">
						
							<h5 class="botonInicial" align="center">Gesta:</h5>
							<input class="input-text-box input-red-border" id="number" type="number">
							
							<h5 class="botonInicial" align="center">Para: </h5>
							<input class="input-text-box input-red-border" id="number" type="number">
							
							<h5 class="botonInicial" align="center">Cesarea: </h5>
							<input class="input-text-box input-red-border" id="number" type="number">
							
						</div>
						
						<div class="one-half last-column">
						
							<h5 class="botonInicial" align="center">Abortos: </h5>
							<input class="input-text-box input-red-border" id="number" type="number">
							
							<h5 class="botonInicial" align="center">Semanas de gestación: </h5>
							<input class="input-text-box input-red-border" id="number" type="number">
							
							<h5 class="botonInicial" align="center">FUM : </h5>
							<input type="text" class="input-text-line input-red-line inputText" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">

						</div>     

						<div class="one-half">
							<h5 class="botonInicial">Membranas:</h5>
								<div class="select-box ">
									<select>	
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
									</select>
								</div>
							<h5 class="botonInicial">Control prenatal:</h5>
								<div class="select-box ">
									<select>	
							 			<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
									</select>
								</div>	
						
						</div>
											
						<div class="one-half last-column">
								<h5 class="botonInicial">Embarazo de alto riesgo:</h5>
									<div class="select-box ">
										<select>	
											<option value="o1">Option 1</option>
											<option value="o2">Option 2</option>
										</select>
									</div>
								<h5 class="botonInicial">Maduración pulmonar:</h5>
									<div class="select-box ">
										<select>	
											<option value="o1">Option 1</option>
											<option value="o2">Option 2</option>
										</select>
									</div>
						</div>
						
						<h5 class="botonInicial" >Hora de inicio : </h5>
						<input class="input-text-box input-red-border" type="time" name="time" align="center">
						<h5 class="botonInicial" >Frecuencia :</h5>
						<input class="input-text-box input-red-border" id="number" type="number">
						<h5 class="botonInicial" >Duración : </h5>
						<input class="input-text-box input-red-border" id="number" type="number">

						
						<div class="decoration"></div>
						
						<div>
							<h5 class="botonInicial" align="center" > DATOS POST-PARTO</h5>
								<br>
								<h5 class="botonInicial" >Hora de nacimiento : </h5>
								<input class="input-text-box input-red-border" type="time" name="time" align="center">
								<h5 class="botonInicial" >Placenta expulsada : </h5>
									<div class="select-box ">
										<select>	
											<option value="o1">Option 1</option>
											<option value="o2">Option 2</option>
										</select>
									</div>

								<h5 class="botonInicial" >Lugar de nacimiento :</h5>
								<input type="text" class="input-text-box input-red-border">
								
						</div>
						
						<div class="decoration"></div>
						
						<div>
							<h5 class="botonInicial" align="center" >DATOS DEL PRODUCTO</h5>
		  						
								<div class="one-half">
									<h5 class="botonInicial" >Producto: </h5>
									<div class="select-box ">
										<select>	
											<option value="o1">Option 1</option>
											<option value="o2">Option 2</option>
										</select>
									</div>
									
									<h5 class="botonInicial" align="center">Apgar 1 min:</h5>
									<input class="input-text-box input-red-border" id="number" type="number">
									<h5 class="botonInicial" align="center">Apgar 10 min:</h5>
									<input class="input-text-box input-red-border" id="number" type="number">
									
								</div>
								
								<div class="one-half last-column">
									<h5 class="botonInicial" >Sexo: </h5>
									<div class="select-box ">
										<select>	
											<option value="o1">Option 1</option>
											<opt	ion value="o2">Option 2</option>
										</select>
									</div>
									
									<h5 class="botonInicial" align="center">Apgar 5 min:</h5>
									<input class="input-text-box input-red-border" id="number" type="number">
									<h5 class="botonInicial" align="center">Silvermann 10 min:</h5>
									<input class="input-text-box input-red-border" id="number" type="number">
								</div>
								
								<h5 class="botonInicial" >Observaciones :</h5>
								<input type="text" class="input-text-box input-red-border">

						</div>
						
					</form>   	
			</div>
			 
	</div>
	<div class="share-bottom share-light">
		<h3>Obligatorios</h3>
		<div class="share-socials-bottom">
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.themeforest.net/">
				<i class="ion-ios-keypad facebook-bg"></i>
				Datos 
			</a>
			<a href="https://twitter.com/home?status=Check%20out%20ThemeForest%20http://www.themeforest.net">
				<i class="ion-clipboard twitter-bg"></i>
				Datos 
			</a>
			<a href="https://plus.google.com/share?url=http://www.themeforest.net">
				<i class="ion-clipboard google-bg"></i>
				Datos
			</a>
			<div class="clear"></div>
		</div>
		
		<h3>Opcionales</h3>
		<div class="share-socials-bottom">
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.themeforest.net/">
				<i class="ion-clipboard facebook-bg"></i>
				Insumos
			</a>
			<a href="https://twitter.com/home?status=Check%20out%20ThemeForest%20http://www.themeforest.net">
				<i class="ion-clipboard twitter-bg"></i>
				Insumos
			</a>
			<a href="https://plus.google.com/share?url=http://www.themeforest.net">
				<i class="ion-clipboard google-bg"></i>
				Insumos
			</a>
			
			<div class="clear"></div>
		</div>
		
	</div>
</div>
</body>