<!DOCTYPE HTML>

<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />

<meta name="apple-mobile-web-app-capable" content="yes" />

<meta name="apple-mobile-web-app-status-bar-style" content="black">



<title>Epsilon 7.0</title>

    

<link rel="stylesheet" type="text/css" href="../styles/style.css">

<link rel="stylesheet" type="text/css" href="../styles/skin.css">

<link rel="stylesheet" type="text/css" href="../styles/framework.css">

<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">





  

    

<script type="text/javascript" src="../scripts/jquery.js"></script>

<script type="text/javascript" src="../scripts/plugins.js"></script>

<script type="text/javascript" src="../scripts/custom.js"></script>



</head>



<body>

<div id="page-transitions">

	<div class="sidebars sidebars-light">

		<div class="sidebar sidebar-left">

			

			

			<div class="menu-options icon-background no-submenu-numbers sidebar-menu">

				

				<em class="menu-divider">Vehículos</em>

				

				<ul lang="collection">

					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg facebook-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>

					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg google-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>

					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg whatsapp-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>

					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg facebook-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>

					<li type="none"><a class="" href="vehiculos.html"><i class="icon-bg google-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>

					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg whatsapp-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>

					

				</ul>

				

			</div>

		</div> 

		<div class="sidebar sidebar-right">

			



			<div class="menu-options icon-background sidebar-menu">

				<em class="menu-divider">Servicios <span>PUE-370</span></em>

				

				 <ul class="collection">

					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg google-bg ion-android-close"></i><span>(11:30)</span> Traslado por convenio</a></li>

					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg whatsapp-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>

					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg frap-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>

					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg google-bg ion-android-close"></i><span>(11:30)</span> Traslado por convenio</a></li>

					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg whatsapp-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>

					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg frap-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>



				</ul>

							 

			</div>

		</div>

	</div>

	

	<div class="header header-logo-center header-dark" align="center">

		<h3 class="botonInicial"><strong>SCE</strong> <strong class="color-white">FRAP Digital</strong></h3>

	</div>

	

	<div id="page-content" class="page-content">	

		<div id="page-content-scroll"><!--Enables this element to be scrolled --> 



			<div class="map-fullscreen">

				<iframe src="https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed"></iframe>

			</div>  

			

		<div class="content no-bottom">

				<div class="decoration"></div>

				<h2 class="center-text thin small-bottom">Información del Servicio</h2>
				
					<div class="one-half ">
						<h2>Caido</h2>
						<p>
							Amarilla (Segunda)
							
							<div class="menu-options icon-background">
								<a class="" href="#"><i class="icon-bg whatsapp-bg ion-android-done"></i><span>Entregando paciente</span> </a>
							</div>
						</p>
					</div>
					<div class="one-half last-column">
						<h2>Número de servicio</h2>
						 <p>455875</p>
						<h2>Folio de llamada</h2>
						<p>CHAVEZ SILVA ALBERTO</p>
					</div>		
				
				<div class="decoration deco-0 decoration-small animate-zoom"></div>


				<div class="one-half-responsive last-column">

					<div class="column-home-center one-half animate-left animate-delay-100">
					
						<i class="ion-ios-location color-green-dark"></i>

						<h5 class="thin">Dirección</h5>
						
							<div class="toggle">
								<a href="#" class="toggle-title">Leer más<i class="ion-android-add"></i></a>
								<div class="toggle-content">
									<h2>Ubicación física del paciente:</h2>
									<p> Casa Hogar Olivos</p>
									<strong>Calle: </strong>
									<p>Palmas</p>						
									<strong>Colonia: </strong>
									<p> Olivos</p>
									<strong>Municipio: </strong>
									<p> Hermosillo</p>
									<strong>Estado: </strong>
									<p> Sonora</p>
									<strong>Código postal: </strong>
									<p>83284</p>
									<strong>Entre calle: </strong>
									<p> Adolfo Lopez Mateos</p>
									
									
									
									<h5 class="thin">Inicio de operaciones</h5>
									<p>-----</p>
									<h5 class="thin">Tipo de vehículo</h5>
									<p>Ambulancia-Urgencias</p>
									<h5 class="thin">UID</h5>
									<p>49704</p>	
								</div>
							</div>			
							<br>
							
							
						<i class="ion-ios-person color-blue-dark"></i>

						<h5 class="thin">Reportante</h5>
							<div class="toggle">
								<a href="#" class="toggle-title botonInicial">Leer más<i class="ion-android-add"></i></a>
								<div class="toggle-content">
									<div class="decoration"></div>
										<strong>Nombre: </strong>
										<p> Casa Hogar Olivos</p>
										<strong>Telefono: </strong>
										<p>Palmas</p>						
										<strong>Colonia: </strong>
										<p> Olivos</p>
										<strong>Comentario: </strong>
										<p> 
											Reportan a masculino de 84 años de edad que cayo de su propia
											altura, refiere dolor en región pelvica y perdida de función motroa en extremidades
											inferiores
										</p>
								</div>
							</div>	
							
						<br>
						<i class="ion-android-phone-portrait color-blue-dark"></i>

						<h5 class="thin">Llamada Seguimiento</h5>
							<div class="toggle">
								<a href="#" class="toggle-title botonInicial">Leer más<i class="ion-android-add"></i></a>
								<div class="toggle-content">
									<div class="decoration"></div>
										<strong>Ubicación física del paciente: </strong>
										<p>
											Caida de propia altura
										</p>
										<strong>Signos: </strong>
										<p>Refiere dolor en la región pelvica y perdida de función motora en extremdidades</p>						
										<strong>Eventos relacionados: </strong>
										<p> Caminando</p>
									</div>
								</div>			
		
					</div>

					<div class="column-home-center one-half last-column animate-right  animate-delay-100">

						 <a href="#" class="toggle-title"> <i class="ion-clipboard color-orange-dark"> </i></a>

						<h5 class="thin">FRAPS</h5>

							<div class="toggle">
								<a href="#" class="toggle-title">Leer más<i class="ion-android-add"></i></a>
								<div class="toggle-content">
									
									<h5 class="thin">Fraps Generados</h5>
									<p>-----</p>
									
								</div>
							</div>
							<br>

							
						<i class="ion-android-alarm-clock color-orange-dark"></i>
						
						<h5 class="thin">Horas</h5>

							<div class="toggle">
								<a href="#" class="toggle-title">Leer más<i class="ion-android-add"></i></a>
								<div class="toggle-content">
									<div class="decoration"></div>
									<strong>Hora de llamada</strong>
									CHAVEZ SILVA ALBERTO
									<br>
									<strong>Hora de despacho</strong>
									CHAVEZ SILVA ALBERTO
									<br>
									<strong>Hora de arribo</strong>
									CHAVEZ SILVA ALBERTO
									<br>
									<strong>Hora de hospitalización</strong>
									CHAVEZ SILVA ALBERTO
									<br>
									<strong>Radio Operador</strong>
									CHAVEZ MADERO FELIPE
	
								</div>
							</div>
						<br>

						<i class="ion-android-stopwatch color-orange-dark"></i>
						
						<h5 class="thin">Tiempos</h5>

							<div class="toggle">
								<a href="#" class="toggle-title">Leer más<i class="ion-android-add"></i></a>
								<div class="toggle-content">
									<strong>Despacho de unidad</strong><h5> 19 minutos 6 segundos</h5>
									<strong>Respuesta de la unidad</strong> <h5> 19 minutos 6 segundos</h5>						
									<strong>Total respuesta</strong>
									<h5> 19 minutos 6 segundos</h5>
									<strong>Escena</strong>
									<h5> 19 minutos 6 segundos</h5>
									<strong>Traslado</strong>
									<h5> 19 minutos 6 segundos</h5>
								</div>
							</div>

					</div>

				</div>

				<div class="decoration"></div>

			</div>

		</div>  

	</div>

	

	<div class="footer-fixed footer-fixed-dark">

		<div class="swiper-wrapper menuInferior">

			<a href="#" class="menuInferior"><em><i class="ion-android-car open-sidebar-left"></i><span>Vehículos</span></em></a>

			<a href="frap.html" class="menuInferior"><em><i class="ion-clipboard"></i><span>Crear FRAP</span></em></a>

			<a href="#" class="menuInferior"><em><i class="ion-medkit open-sidebar-right"></i><span>Servicios</span></em></a>

		</div>

		

	</div>



</div>

</body>