<!DOCTYPE HTML>

<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">



<title>Epsilon 7.0</title>

    

<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" type="text/css" href="../styles/skin.css">
<link rel="stylesheet" type="text/css" href="../styles/framework.css">
<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">



<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>

	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" src="../controller/home.js"></script>

	<script type="text/javascript" src="../js/jquery.blockUI.js"></script>



</head>



<body>

<div id="page-transitions">


	<div class="sidebars sidebars-light">

		<div class="sidebar sidebar-left">

			

			

			<div class="menu-options icon-background no-submenu-numbers sidebar-menu">

				

				<em class="menu-divider">Vehículos</em>

				

				<ul lang="collection">

					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg facebook-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg google-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg whatsapp-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg facebook-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="vehiculos.html"><i class="icon-bg google-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="vehiculos.html" ><i class="icon-bg whatsapp-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>

					

				</ul>

				

			</div>

		</div>




		<div class="sidebar sidebar-right">
			<div class="menu-options icon-background sidebar-menu">

				<em class="menu-divider">Servicios Unidad asiganda </em>

				<span>PUE-370</span>

				 <ul id="panel_servicios" class="collection">
					 <li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg google-bg ion-android-close"></i><span>(11:30)</span> Traslado por convenio</a></li>
<!--
					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg google-bg ion-android-close"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg whatsapp-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg frap-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg google-bg ion-android-close"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg whatsapp-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="home_02.html"><i class="icon-bg frap-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>
-->

				</ul>
			</div>

		</div>




	</div>

	


	<div class="header header-logo-center header-dark" align="center">

		<h3 class="botonInicial"><strong>SCE</strong> <strong class="color-white">FRAP Digital</strong></h3>

	</div>

	

	<div id="page-content" class="page-content">	

		<div id="page-content-scroll"><!--Enables this element to be scrolled --> 



			<div  class="map-fullscreen">
				<div id="map" >

					<!--
                    <iframe src="https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed"></iframe>
                    -->

				</div>

				<!--
				<iframe src="https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed"></iframe>
				-->

			</div>



		<div class="content no-bottom">

				<div class="decoration"></div>

				<h2 class="center-text thin small-bottom"><strong>Información del Servicio</strong></h2>
					<div class="one-half " align="left">
						<h2><strong>Motivo:</strong> </h2>
							<h4 id="reason"></h4>
						<h2><strong>Estado:</strong> </h2>
							<div class="content">
								<div class="sitemap-box container">
									<a href="portfolio-adaptive.html"><i class="icon-bg whatsapp-bg ion-android-done menu-options icon-background"></i></a>
									
									<h4>Entregando paciente</h4>
								</div>  
							</div>   
							
							
					</div>
					
					<div class="one-half last-column" >
						<h2><strong>Número de servicio</strong></h2>
						 <h4 id="num_servicio"></h4>
						<h2><strong>Folio de llamada</strong></h2>
						<h4 id="folio_llamada"></h4>
					</div>
					
				<div class="decoration deco-0 decoration-small animate-zoom"></div>
			
					<div class="one-half" align="center">
						<div class="column-home-center animate-left animate-delay-100" align="center">
					
							<i class="ion-ios-location color-green-dark"></i>
	
							<h5>Dirección</h5>
								
								<div class="one-half">
										<strong>Calle: </strong>
										<p id="servicio_calle"></p>
									</div>
									<div class="one-half last-column">
										<strong>Colonia: </strong>
										<p id="servicio_colonia"></p>
									</div>
								
								<div class="toggle">
									
									
									<a href="#" class="toggle-title"><i class="ion-android-add"></i></a>
									<div class="toggle-content">
										<strong>Ubicación física del paciente:</strong>
										<p id="ubicacion_paciente"> </p>
										<strong>Municipio: </strong>
										<p id="servicio_delegacion"> </p>
										<strong>Estado: </strong>
										<p id="servicio_estado"> </p>
										<strong>Código postal: </strong>
										<p id="servicio_cp"></p>
										<strong>Entre calle: </strong>
										<h5> Adolfo Lopez Mateos</h5>
										
										
										
										<strong>Inicio de operaciones</strong>
										<h5>-----</h5>
										<strong>Tipo de vehículo</strong>
										<h5>Ambulancia-Urgencias</h5>
										<strong>UID</strong>
										<h5>49704</h5>	
									</div>
								</div>			
								<br>
								
								
							<i class="ion-ios-person color-blue-dark"></i>
	
							<h5 class="thin">Reportante</h5>
								<div class="toggle">
									<a href="#" class="toggle-title botonInicial">Leer más<i class="ion-android-add"></i></a>
									<div class="toggle-content">
										<div class="decoration"></div>
											<strong>Nombre: </strong>
											<h5> Casa Hogar Olivos</h5>
											<strong>Telefono: </strong>
											<h5>Palmas</h5>						
											<strong>Colonia: </strong>
											<h5> Olivos</h5>
											<strong>Comentario: </strong>
											<h5> 
												Reportan a masculino de 84 años de edad que cayo de su propia
												altura, refiere dolor en región pelvica y perdida de función motroa en extremidades
												inferiores
											</h5>
									</div>
								</div>	
								
							<br>
							<i class="ion-android-phone-portrait color-blue-dark"></i>
	
							<h5 class="thin">Llamada Seguimiento</h5>
								<div class="toggle">
									<a href="#" class="toggle-title botonInicial">Leer más<i class="ion-android-add"></i></a>
									<div class="toggle-content">
										<div class="decoration"></div>
											<strong>Ubicación física del paciente: </strong>
											<h5>
												Caida de propia altura
											</h5>
											<strong>Signos: </strong>
											<h5>Refiere dolor en la región pelvica y perdida de función motora en extremdidades</h5>						
											<strong>Eventos relacionados: </strong>
											<h5> Caminando</h5>
										</div>
									</div>			
			
						</div>
						
					</div>
					
					<div class="one-half last-column" align="center">
						<div class="column-home-center last-column animate-right  animate-delay-100">
	
							 <a href="#" class="toggle-title"> <i class="ion-clipboard color-orange-dark"> </i></a>
	
							<h5 class="thin">FRAPS</h5>
	
								<div class="toggle">
									<a href="#" class="toggle-title">Leer más<i class="ion-android-add"></i></a>
									<div class="toggle-content">
										
										<h5 class="thin">Fraps Generados</h5>
										<h5>-----</h5>
										
									</div>
								</div>
								<br>
	
								
							<i class="ion-android-alarm-clock color-orange-dark"></i>
							
							<h5 class="thin">Horas</h5>
	
								<div class="toggle">
									<a href="#" class="toggle-title">Leer más<i class="ion-android-add"></i></a>
									<div class="toggle-content">
										<div class="decoration"></div>
										<strong>Hora de llamada</strong>
										<h5>18:09</h5>
										<br>
										<strong>Hora de despacho</strong>
										<h5>16:20</h5>
										<br>
										<strong>Hora de arribo</strong>
										<h5>20:20</h5>
										<br>
										<strong>Hora de hospitalización</strong>
										<h5>21:40</h5>
										<br>
										<strong>Radio Operador</strong>
										<h5>CHAVEZ MADERO FELIPE</h5>
		
									</div>
								</div>
							<br>
	
							<i class="ion-android-stopwatch color-orange-dark"></i>
							
							<h5 class="thin">Tiempos</h5>
	
								<div class="toggle">
									<a href="#" class="toggle-title">Leer más<i class="ion-android-add"></i></a>
									<div class="toggle-content">
										<strong>Despacho de unidad</strong><h5> 19 minutos 6 segundos</h5>
										<strong>Respuesta de la unidad</strong> <h5> 19 minutos 6 segundos</h5>						
										<strong>Total respuesta</strong>
										<h5> 19 minutos 6 segundos</h5>
										<strong>Escena</strong>
										<h5> 19 minutos 6 segundos</h5>
										<strong>Traslado</strong>
										<h5> 19 minutos 6 segundos</h5>
									</div>
								</div>
	
						</div>
						
						
						
						
					</div>
			
				</div>

				<div class="decoration"></div>

			</div>

		</div>  

	</div>

	

	<div class="footer-fixed footer-fixed-dark">

		<div class="swiper-wrapper menuInferior">

			<a href="#" class="menuInferior"><em><i class="ion-android-car open-sidebar-left"></i><span>Vehículos</span></em></a>
			<a href="frap.html" class="menuInferior"><em><i class="ion-clipboard"></i><span>Crear FRAP</span></em></a>
			<a href="#" class="menuInferior"><em><i class="ion-medkit open-sidebar-right"></i><span>Servicios</span></em></a>

		</div>

		

	</div>





</body>