<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Epsilon 7.0</title>
    
<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" type="text/css" href="../styles/skin.css">
<link rel="stylesheet" type="text/css" href="../styles/framework.css">
<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">
<link rel="stylesheet" href="../styles/wfmi-style.css">


    
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>

	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" src="../controller/home_vehiculos.js"></script>

	<script type="text/javascript" src="../scripts/jStorage.js"></script>

</head>

<body>
<div id="page-transitions">
	
	<div class="header header-logo-center header-dark" align="center">
		<h3 class="botonInicial"><i class="medical-icon-i-ambulance"></i><strong class="color-white">VEHÍCULOS</strong></h3>
	</div>
	
	<div id="page-content" class="page-content">	
		<div id="page-content-scroll"><!--Enables this element to be scrolled --> 

			<div class="map-fullscreen">
				<iframe src="https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed"></iframe>
			</div>  
			<br>
			<h2 class="center-text thin small-bottom">Información del Vehículo</h2>
				<h2 class="center-text-mobile">PUE-370</h2>
				<br>
					<div class="one-half ">
						<p>
							Rumbo a una emergencia
						</p>
					</div>
					<div class="one-half last-column">
						<p>
							Agua Prieta Primer Turno
						</p>
					</div>
						
			
			<div class="decoration deco-0 decoration-small animate-zoom"></div>

			<div class="one-half-responsive">

					<div class="column-home-center one-half animate-left">

						<i class="ion-android-people color-green-dark"></i>
						<ion-icon ios="ios-people" md="md-people"></ion-icon>
						<h5 class="thin">Operador</h5>

						<p>Estado de emergencia: Sin Confirmar</p>
						
						<h5 class="thin">Jefe de Servicio</h5>

						<p>Estado de emergencia: Sin Confirmar</p>

						

					</div>

					<div class="column-home-center one-half last-column animate-right">

						<i class="ion-speedometer color-red-dark"></i>

						<h5 class="thin">Kilometraje de incio</h5>
						<p>1988554</p>
						
						<h5 class="thin">Combustible</h5>
						<p>55%</p>
						
						<div class="toggle">
							<a href="#" class="toggle-title">Leer más<i class="ion-android-add"></i></a>
							<div class="toggle-content">
								<h5 class="thin">Inicio de operaciones</h5>
								<p>-----</p>
								<h5 class="thin">Tipo de vehículo</h5>
								<p>Ambulancia-Urgencias</p>
								<h5 class="thin">UID</h5>
								<p>49704</p>	
							</div>
						</div>
						
						
					</div>

				</div>

			<div class="share-socials-bottom">
				<a href="#" class="bottom-icon-right badge-share show-share-bottom  ">
					<i class="ion-ios-keypad colorFrap"></i>
				</a>
				<a href="home_02.html" class="bottom-icon-left ">
					<i class="ion-home colorFrap"></i>
				</a>
			</div>
			
				
		</div>  
	</div>
	
	
	<div class="share-bottom share-light">
		<h3>OPCIONES</h3>
		<div class="share-socials-bottom activate-tab-1">
			<a href="#">
				<i class="ion-medkit facebook-bg"></i>
				Servicios atendidos
			</a>
			<a href="#">
				<i class="ion-clock twitter-bg activate-tab-2"></i>
				Historial 
			</a>
			<a href="#">
				<i class="ion-ios-location google-bg activate-tab-3"></i>
				Ubicación Actual
			</a>
			
			<div class="clear"></div>
		</div>
		
	</div>
	
</div>
</body>