<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Epsilon 7.0</title>
    
<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" type="text/css" href="../styles/skin.css">
<link rel="stylesheet" type="text/css" href="../styles/framework.css">
<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">
<link rel="stylesheet" href="../styles/wfmi-style.css">


    
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>

</head>

<body>
<div id="page-transitions">
	
	
	<div class="header header-logo-left header-dark " align="center">
		<h3 class="botonInicial"><i class="medical-icon-i-administration"></i> 
			<a href="insumos_intermedio.html" class="icon icon-round frapBtn-bg btnSig"><i class="ion-forward"></i>
			<a href="resultado_emergencia.html" class="icon icon-round frapBtn-bg btnAt"><i class="ion-reply"></i>
		
			</a><strong class="color-white">INSUMOS NIVEL BÁSICO</strong></h3>

		
		

	</div>	
	
	<div class="share-socials-bottom">
				<a href="#" class="bottom-icon-right badge-share show-share-bottom  ">
					<i class="ion-ios-keypad colorFrap"></i>
				</a>
				<a href="home_02.html" class="bottom-icon-left ">
					<i class="ion-home colorFrap"></i>
				</a>
		
	</div>	
	
	<div id="page-content" >		
				
			
			<div class="content full-bottom half-top">
					
					<br>
					<br>
										
					<form action="" method="post" class="contactForm" id="contactForm">
						<br>
						 
						<div class="content ">
							
							<h2 align="center">Selecciona un valor</h2>
							<br>
							
							<br>
							<h5 class="botonInicial" align="center">Sonda de aspiración:</h5>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>    
							
							<h5 class="botonInicial" align="center">Puntas nasales:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Mascarlla de adulto:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Punzoncath 14:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Punzoncath 16:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Punzoncath 18:</h5>
							<br>
							<<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Punzoncath 20:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Punzoncath 22:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Venopack:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Jeringa 5cc:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Jeringa_10:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Guantes:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Gasa Simple:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Venda elástica 5 cm:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Venda elástica 10 cm:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Venda elástica 30 cm:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<div class="clear"></div><h5 class="botonInicial" align="center">Tira reactiva:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Lanceta :</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">NaCL 0.9%:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Hartmann:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Glucosa 5%:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Glucosa 10%:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Glucosa 50%:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Mixta:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<div class="clear"></div><h5 class="botonInicial" align="center">Sábana desechable:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							<h5 class="botonInicial" align="center">Equipo de Parto:</h5>
							<br>
							<div class="content">
								<div class="select-box">
									<select>
										<option class="select-title" value="o0">Selecciona un valor:</option>
										<option value="o1">Option 1</option>
										<option value="o2">Option 2</option>
										<option value="o3">Option 3</option>
										<option value="o4">Option 4</option>
									</select>
								</div>        
							</div>  
							
			
							
						</div>
							
						
					</form>   	
			</div>
			 
	</div>
	<div class="share-bottom share-light">
		<h3>Obligatorios</h3>
		<div class="share-socials-bottom">
			<a href="frap_02.html">
				<i class="ion-ios-keypad facebook-bg"></i>
				Se niega a la atención 
			</a>
			<a href="signos_vitales02.html">
				<i class="ion-clipboard twitter-bg"></i>
				Sginos vitales 
			</a>
			<a href="med_administrados.html">
				<i class="ion-clipboard google-bg"></i>
				Medicamentos administrados
			</a>
			<div class="clear"></div>
		</div>
		
		
		
	</div>
</div>
</body>