<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Epsilon 7.0</title>
    
<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" type="text/css" href="../styles/skin.css">
<link rel="stylesheet" type="text/css" href="../styles/framework.css">
<link rel="stylesheet" type="text/css" href="../styles/ionicons.min.css">
<link rel="stylesheet" href="../styles/wfmi-style.css">


    
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/plugins.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>

</head>

<body>
<div id="page-transitions">
	<div class="sidebars sidebars-light">
		<div class="sidebar sidebar-left">
			
			
			<div class="menu-options icon-background no-submenu-numbers sidebar-menu">
				
				<em class="menu-divider">Vehículos</em>
				
				<ul lang="collection">
					<li type="none"><a class="" href="#" ><i class="icon-bg facebook-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="#" ><i class="icon-bg google-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="#" ><i class="icon-bg whatsapp-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="#" ><i class="icon-bg facebook-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="#"><i class="icon-bg google-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					<li type="none"><a class="" href="#" ><i class="icon-bg whatsapp-bg ion-flag"></i><span>PUE-370</span> Tehuacan </a></li>
					
				</ul>
				
				
			</div>
		</div> 
		<div class="sidebar sidebar-right">
			

			<div class="menu-options icon-background sidebar-menu">
				
				<em class="menu-divider">Servicios <span>PUE-370</span></em>
				
				 <ul class="collection">
					<li class="" type="none"><a class="" href="#"><i class="icon-bg google-bg ion-android-close"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="#"><i class="icon-bg whatsapp-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="#"><i class="icon-bg frap-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="#"><i class="icon-bg google-bg ion-android-close"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="#"><i class="icon-bg whatsapp-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>
					<li class="" type="none"><a class="" href="#"><i class="icon-bg frap-bg ion-android-done"></i><span>(11:30)</span> Traslado por convenio</a></li>

				</ul>
				
							 
			</div>
		</div>
	</div>
	
	<div class="header header-logo-center header-dark" align="center">
		<!--<a href="#" class="header-icon header-icon-1 hamburger-animated open-sidebar-left"></a>
		<a href="index.html" class="header-logo"></a>
		<a href="#" class="header-icon header-icon-4 open-sidebar-right"><i class="ion-ios-email-outline"></i></a>  -->   
		<h3 class="botonInicial"><i class="medical-icon-i-health-services"></i> <strong class="color-white">Emergencia-Servicios</strong></h3>
	</div>
	
	<div id="page-content" class="page-content">	
		<div id="page-content-scroll"><!--Enables this element to be scrolled --> 

			<div class="map-fullscreen">
				<iframe src="https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed"></iframe>
			</div>  
			<br>
			<div class="content full-bottom half-top">
				<div class="home-tabs">
					<a class="activate-tab-1 active-home-tab" href="#">Servicio</a>
					<a class="activate-tab-2" href="#">Dirección</a>
					<a class="activate-tab-3" href="#">Llamada Seguimiento</a>
					<div class="clear"></div>
				</div>
			</div>
			
			<div class="content" id="tab-1">
				<h2>Caido</h2>
					<p>
						Amarilla (Segunda)
					</p>


					
					<div>
						<div class="menu-options icon-background">
							<a class="" href="#"><i class="icon-bg whatsapp-bg ion-android-done"></i><span>Entregando paciente</span> </a>
						</div>
					</div>
					<div class="decoration"></div>
					<div>
						<strong>Estado de la emergencia</strong>
						CHAVEZ SILVA ALBERTO
						<br>
						<strong>Unidades despachadas</strong>
						CHAVEZ SILVA ALBERTO
						<br>
						<strong>Número de servicio</strong>
						CHAVEZ SILVA ALBERTO
						<br>
						<strong>Folio de llamada</strong>
						CHAVEZ SILVA ALBERTO
						<br>
						<strong>Radio Operador</strong>
						CHAVEZ MADERO FELIPE
					
					</div>
			</div>
			
			<div class="content" id="tab-2">
				<div>
						<strong class="botonInicial">DIRECCIÓN</strong>
						<div class="decoration"></div>
						<strong>Ubicación física del paciente: <h5> Casa Hogar Olivos</h5></strong>
						<strong>Calle: </strong> <h5>Palmas</h5>						
						<strong>Colonia: </strong>
						<h5> Olivos</h5>
						<strong>Municipio: </strong>
						<h5> Hermosillo</h5>
						<strong>Estado: </strong>
						<h5> Sonora</h5>
						<strong>Código postal: </strong>
						<h5>83284</h5>
						<strong>Entre calle: </strong>
						<h5> Adolfo Lopez Mateos</h5>
					</div>
					
					<div class="decoration"></div>
					<div>
						<strong class="botonInicial">REPORTANTE</strong>
						<div class="decoration"></div>
						<strong>Nombre: <h5> Casa Hogar Olivos</h5></strong>
						<strong>Telefono: </strong> <h5>Palmas</h5>						
						<strong>Colonia: </strong>
						<h5> Olivos</h5>
						<strong>Comentario: </strong>
						<p> Reportan a masculino de 84 años de edad que cayo de su propia
							altura, refiere dolor en región pelvica y perdida de función motroa en extremidades
							inferiores
						</p>
						
					</div>
				<div class="decoration"></div>
			</div>
			
			<div class="content" id="tab-3">
				<div>
						<strong class="botonInicial">LLAMADA DE SEGUIMIENTO</strong>
						<div class="decoration"></div>
						<strong>Ubicación física del paciente: </strong>
						<p>
							Caida de propia altura
						</p>
						<strong>Signos: </strong>
						<p>Refiere dolor en la región pelvica y perdida de función motora en extremdidades</p>						
						<strong>Eventos relacionados: </strong>
						<h5> Caminando</h5>
						
					</div>
				<div class="decoration"></div>
			</div>
			
			<div class="content full-bottom half-top">
				<div class="home-tabs">
					<a class="activate-tab-4 active-home-tab" href="#">Fraps</a>
					<a class="activate-tab-5" href="#">Horas</a>
					<a class="activate-tab-6" href="#">Tiempos</a>
					<div class="clear"></div>
				</div>
			</div>
			
			<div class="content" id="tab-4">
				<strong class="botonInicial">FRAPS GENERADOS</strong>
			</div>
			
			<div class="content" id="tab-5">
				<div>
						<strong class="botonInicial">HORAS</strong>
						<div class="decoration"></div>
						<strong>Hora de llamada</strong>
						CHAVEZ SILVA ALBERTO
						<br>
						<strong>Hora de despacho</strong>
						CHAVEZ SILVA ALBERTO
						<br>
						<strong>Hora de arribo</strong>
						CHAVEZ SILVA ALBERTO
						<br>
						<strong>Hora de hospitalización</strong>
						CHAVEZ SILVA ALBERTO
						<br>
						<strong>Radio Operador</strong>
						CHAVEZ MADERO FELIPE
					</div>
			
			</div>
			
			<div class="content" id="tab-6">
				<div>
						<strong class="botonInicial">TIEMPOS</strong>
						<div class="decoration"></div>
						<strong>Despacho de unidad</strong><h5> 19 minutos 6 segundos</h5>
						<strong>Respuesta de la unidad</strong> <h5> 19 minutos 6 segundos</h5>						
						<strong>Total respuesta</strong>
						<h5> 19 minutos 6 segundos</h5>
						<strong>Escena</strong>
						<h5> 19 minutos 6 segundos</h5>
						<strong>Traslado</strong>
						<h5> 19 minutos 6 segundos</h5>
					</div>
			
			</div>
				
		</div>  
	</div>
	
	<div class="footer-fixed footer-fixed-dark">
		<div class="swiper-wrapper menuInferior">
			<a href="#" class="menuInferior"><em><i class="ion-android-car open-sidebar-left"></i><span>Vehículos</span></em></a>
			<a href="#" class="menuInferior"><em><i class="ion-clipboard"></i><span>Crear FRAP</span></em></a>
			<a href="#" class="menuInferior"><em><i class="ion-medkit open-sidebar-right"></i><span>Servicios</span></em></a>
		</div>
		
	</div>

</div>
</body>